/*  your css code here. If applicable */
h1{
	text-algin:center;
}
body{
	background-color:#f5f5f5;
}

.head{
	background-color:#011e29;
	color:white;
	margin:5px;
	padding:25px;
	text-align:center;
}

.main-article-section,.latest-news-section,.pictorial-news-section{
	background-color:white;
	text-align:center;
	border-radius:10px;
	margin:5px;
}

.sections{
	display:flex;
	justify-content: space-evenly;
}

.latest-news-section{
	height:250px;

}

.main-article-section{
	height:200px;
}

.sections{
	height:20%px;
}